<% content_for(:title) { "Welcome to #{DEPLOYMENT_NAME}" } %>

<header>
  <h1>Lists</h1>
</header>
<section class="lists">
  <div class="new-list">
    <input placeholder="Enter name of new List..." type="text"/>
    <button><i class="ss-icon">plus</i></button>
  </div>
  <ul>
    <li>Inventory<i class="ss-icon">next</i></li>
    <li>Groceries<i class="ss-icon">next</i></li>
    <li>Wishlist<i class="ss-icon">next</i></li>
    <li>House Work<i class="ss-icon">next</i></li>
  </ul>
</section>
