<% content_for(:title) { "Welcome to #{DEPLOYMENT_NAME}" } %>

<header>
  <h1>Todos</h1>
</header>
<section class="todos">
  <div class="new-todo-list">
    <input placeholder="Enter name of new Todo list..." type="text"/>
    <button>Create</button>
  </div>
  <ul>
    <li>thing</li>
    <li>thing</li>
    <li>thing</li>
    <li>thing</li>
    <li>thing</li>
    <li>thing</li>
    <li>thing</li>
    <li>thing</li>
    <li>thing</li>
    <li>thing</li>
    <li>thing</li>
    <li>thing</li>
  </ul>
</section>
